@media (min-width: 641px) {
  .sdds-save-link {
      text-align: right;
  }
}

.sdds-save-link {
  margin-top: 10px;
}

.autocomplete__wrapper {
  position: relative;
  font-family: "GDS Transport", arial, sans-serif;
}
